.split-element-60 {
  width: 80%;
  height: 25px;
  background: linear-gradient(to right, blue 70%, grey 30%);
  padding-top: 5px;
}

.split-element-40 {
  width: 80%;
  height: 25px;
  background: linear-gradient(to right, blue 40%, grey 60%);
  padding-top: 5px;
}

.split-element-100 {
  width: 80%;
  height: 25px;
  background: linear-gradient(to right, green 100%, grey 0%);
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 20px;
}

.image-col {
  transition: transform 0.3s;
}

.zoom-out-image {
  width: 95%;
  height: auto;
  display: block;
}

.zoom-out-container:hover .image-col {
  transform: scale(1.1);
}

.rotate-button {
  writing-mode: vertical-rl;

  box-shadow: rgba(9, 28, 65, 0.2) -1px 0px 3px;
  border-right: 1px solid rgba(205, 206, 220, 0.7);
  background: rgb(247, 248, 254);
  cursor: pointer;
  padding: 10px;
  height: 100px;
  padding-bottom: 15px;
}
