.split-element-60 {
  width: 80%;
  height: 25px;
  background: linear-gradient(to right, blue 70%, grey 30%);
  padding-top: 5px;
}

.split-element-40 {
  width: 80%;
  height: 25px;
  background: linear-gradient(to right, blue 40%, grey 60%);
  padding-top: 5px;
}

.split-element-100 {
  width: 80%;
  height: 25px;
  background: linear-gradient(to right, green 100%, grey 0%);
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 20px;
}

.create-user {
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 96%;
  margin: 2%;
  max-width: 800px;

  position: relative;
  border-radius: 5px;
  background-color: white;
  color: rgb(68, 70, 84);
  bottom: 255px;
  left: 8px;
  border: 1px solid whitesmoke;
}
