.split-element-60 {
  width: 80%;
  height: 25px;
  background: linear-gradient(to right, blue 70%, grey 30%);
  padding-top: 5px;
}

.split-element-40 {
  width: 80%;
  height: 25px;
  background: linear-gradient(to right, blue 40%, grey 60%);
  padding-top: 5px;
}

.split-element-100 {
  width: 80%;
  height: 25px;
  background: linear-gradient(to right, green 100%, grey 0%);
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 20px;
}

.create-user {
  position: relative;
  border-radius: 5px;
  background-color: white;
  bottom: 50px;
  left: 100px;
}

.new-application {
  margin: 2%;
  max-width: 800px;
  position: relative;
  border-radius: 5px;
  background-color: white;
  color: rgb(68, 70, 84);
  bottom: 480px;
  left: -200px;
  border: 1px solid whitesmoke;
  z-index: 99999;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
}
.sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

.page-content-wrapper {
  min-width: 0;
  width: 100%;
}
